@font-face {
  font-family: roboto-bold;
  src: url(/src/assets/fonts/Roboto/Roboto-Black.ttf);
}

body {
  background-color: var(--color-background);
  height: 100vh;
  width: 100%;
  font-family: roboto-bold;
}

p {
  font-size: 20px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #343a40;
  width: 100%;
}

.navbar_title {
  color: white;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.navbar_list {
  display: flex;
  justify-content: start;
  color: white;
  list-style: none;
}

.section__coach {
  color: white;
  padding: var(--spacing-large);
}

.section__coach-flex {
  display: flex;
}

.section__coach-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.section__coach-card {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  background-color: var(--color-secondery);
}

.coach__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #495057;
  gap: 1rem;
  border-radius: 10px;
}

.player__img-head {
  display: flex;
  justify-content: center;
}

.player__img {
  height: 150px;
  width: 150px;
}

.player__img-head {
  display: flex;
  justify-content: center;
}

.cardinfo__name {
  text-align: center;
  grid-column: 1/3;
}

.cardinfo__postition {
  text-align: center;
  grid-column: 1/3;
  grid-row: 2;
}

.cardinfo__nationality {
  text-align: center;
  grid-column: 1/3;
  grid-row: 3;
}

.cardinfo__country {
  display: flex;
  justify-content: end;
  grid-column: 2;
  grid-row: 3;
}

.cardinfo__flag {
  height: 30px;
  width: 30px;
}

.section__goalkeepers {
  color: white;
  padding: var(--spacing-large);
}

.section__goalkeepers-flex {
  display: flex;
}

.section__goalkeeper-gridbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.section__goalkeepers-card {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  background-color: var(--color-secondery);
}

.player__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--color-primary);
  gap: 1rem;
  border-radius: 10px;
}

.cardinfo__name-player {
  grid-column: 1/3;
  text-align: center;
}

.cardinfo__jersy-player {
  grid-column: 1/2;
  grid-row: 2;
  text-align: center;
}

.cardinfo__postition-player {
  grid-column: 2/3;
  grid-row: 2;
  text-align: center;
}

.cardinfo__hight-player {
  grid-column: 1/2;
  grid-row: 3;
  text-align: center;
}

.cardinfo__nationality-player {
  grid-column: 1/3;
  grid-row: 4;
  text-align: center;
}

.cardinfo__country-player {
  grid-column: 2/3;
  grid-row: 4;
  text-align: center;
}

.cradinfo__statistic {
  text-align: center;
}

.section__defenders {
  color: var(--color-white);
  padding: var(--spacing-large);
}

.section__defenders-flex {
  display: flex;
}

.section__defenders-gridbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.player__defenders-card {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  background-color: #343a40;
}

.player__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: #495057;
  gap: 1rem;
  border-radius: 10px;
}

.section__midfilder {
  color: white;
  padding: var(--spacing-large);
}

.section__midfilder-flex {
  display: flex;
}

.section__midfilder-gridbox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.player__midfilder-card {
  height: 100%;
  width: 350px;
  border-radius: 10px;
  background-color: var(--color-secondery);
}

.player__grid-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--color-primary);
  gap: 1rem;
  border-radius: 10px;
}

@media screen and (max-width: 1300px) {
  .section__coach-gridbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .section__coach-gridbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5rem;
  }
  .section__coach-card {
    display: flex;
    height: 100px;
    width: 500px;
  }

  .coach__grid-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #495057;
    gap: 0.5rem;
    border-radius: 10px;
    width: 100%;
    height: 10rem;
  }
}
