body{
    background-color: #212529;
}


.navbar{
    padding-top: 1rem;
    padding-bottom:2rem ;
    background-color: #343a40;
   
}

.navbar_title{
    color: white;
}


.section_coach{
    color: white;
}

.section_coach--ange{
    height: 5rem;
    width: 100%;
}